 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light no-max-width">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3>What people are saying about Heidi's voice:</h3>
                    <p>cheerful * thoughtful * elegant * wise * radiant * fearless</p>
                </div>
            </div>
            <div class="row row-top-spacer">
                <p class="col-xs-12">
                    Heidi is a conservatory trained actress with a BFA in Musical Theatre and a MA in Arts Administration.
                    With nearly two decades of acting, teaching, marketing, and development experience.
                    Heidi is excited to help you take your project to the next level, with a fortunate heart.
                </p>
            </div>
            <div class="row row-top-spacer">
                <div class="col-xs-12">
                    <h4>Clients:</h4>
                    <ul>
                        <li>Boys &amp; Girls Clubs</li>
                        <li>United Way</li>
                        <li>Biltmore Estate</li>
                        <li>Ridge Runner Media</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>