hr.no-max-width { max-width: none; }
footer .no-padding-top { padding-top: 0; }
#portfolio .portfolio-item .portfolio-link.max-width-10rem { max-width: 10rem; }
#portfolio .portfolio-item .portfolio-link .caption .caption-content.adjust-mt { margin-top: -0.8rem; }
#portfolio .portfolio-item.max-height { max-height: 10rem; }
#portfolio .portfolio-item.m-b { margin-bottom: 3rem; }
.padding-lr-half-em {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.portfolio-text {
	font-size: 2rem;
	text-align: center;
}
@media (max-width: 500px) { .portfolio-text { font-size: 1.5rem; } }


.portfolio-icon-hw {
	height: 7rem;
	width: 7rem;
}

.header-photo,
.footer-photo {
	border-radius: 50%;
    box-shadow: 0 0 1rem 1rem rgb(44, 62, 80);
}

.footer-photo { transform: rotate(-90deg); }

.fa-crazy {
	content: url("img/crazy-max-min.JPG");
    border-radius: 50%;
    height: 1.28571429em;
    margin-bottom: -0.5rem;
}