hr.no-max-width { max-width: none; }
footer .no-padding-top { padding-top: 0; }

.header-photo,
.footer-photo {
	border-radius: 50%;
    box-shadow: 0 0 1rem 1rem rgb(44, 62, 80);
    height: 20rem;
    width: 20rem;
}

.footer-photo {
	transform: rotate(-90deg);
    height: 7rem;
    width: 7rem;
}

.fa-crazy {
	content: url("img/crazy-max-min.JPG");
    border-radius: 50%;
    height: 1.28571429em;
    margin-bottom: -0.5rem;
}