hr.no-max-width { max-width: none; }

.header-photo,
.footer-photo {
	border-radius: 50%;
    box-shadow: 0 0 1rem 1rem rgb(44, 62, 80);
    height: 20rem;
    width: 20rem;
}

.footer-photo {
	transform: rotate(-90deg);
    height: 7rem;
    width: 7rem;
}